/* import the google font - Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/*

Typography is the way that text 
is arranged and presented.

*/

body {
    padding: 10%;
    font-size: 2rem;
    /* font-family: sans-serif;
    font-family: monospace;
    font-family: cursive;
    font-family: fantasy; */

    /* choose the first choice, if not, choose the following choices until there's nothing or hit*/
    font-family: 'Courier New', Courier, monospace;
    /* the font family import from google font */
    font-family: 'Roboto', sans-serif;
}

/* input, button {
    font: inherit;
} */

p {
    text-decoration: underline;
    text-transform: capitalize;
    text-align: left;
    text-indent: 2em;

    line-height: 1.5;
    /* letter-spacing: 0.1em; */
    /* word-spacing: 0.1em; */

    /* font-weight: bolder; */
    /* font-style: italic; */
}